[Unit]
Description=Crude remote system temperature / fan state monitor.

[Service]
Restart=on-failure
RestartSec=1s
Type=simple
ExecStart=/usr/lib/wp360-test-tools/hostTemp

[Install]
WantedBy=default.target
